Source: libbpp-qt
Section: libs
Priority: optional
Maintainer: Julien Dutheil <julien.dutheil@univ-montp2.fr>
Build-Depends: debhelper (>= 5), cmake (>= 2.6)
Standards-Version: 3.7.2

Package: libbpp-qt-dev
Section: libdevel
Architecture: any
Depends: libbpp-qt (= ${binary:Version}), libbpp-core-dev (>= 2.0.1), libbpp-seq-dev (>= 2.0.0), libbpp-phyl-dev (>= 2.0.1)
Description: The Bio++ Qt Graphic classes library development files.
 Contains the Bio++ graphical classes developed with Qt.

Package: libbpp-qt
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbpp-core (>= 2.0.1), libbpp-seq (>= 2.0.0), libbpp-phyl (>= 2.0.1)
Description: The Bio++ Qt Graphic classes library.
 Contains the Bio++ graphical classes developed with Qt.

